@charset "UTF-8"

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"); 

/* 
    em HTML é ID    = em CSS é #
    em html é Class = em CSS é .

*/

body{
    font-family: "ubuntu", sans-serif;
    flex-direction: column;
    background-image: linear-gradient(to right, whitesmoke,#e4e6ee,#6db8eb);
    background-repeat: no-repeat;
    text-align:left;
}

p {
    text-align:justify;
}

.box {
    display: flex;
    align-items: stretch;
}

.box2 {
    display: flex;
    justify-content: space-between;
}

.box3 {
    flex-direction: column;
}

.inline-block-centralizado {
    text-align: center;
}

/*.inline-block-centralizado div {
    display: inline-block;
    text-align:center;
}*/


/*#imgnote1 {
    /*img note1 c legenda */
    /*margin-left: 0%;
}

#local1 {
    /*logo localizador */
    /*margin-left: 30%;
}

#cell1 {
    /*logo celular */
    /*margin-left: 60%;
}

#imgnote2 {
    /* logo note 2 */
    /*margin-left: 80%;
}
*/

#text1 {

}

#text2 {

}

#text3 {

}

#text4 {

}

#imglogo {
    /*logo da telecall. */
    position:fixed;
    bottom: 15px;
    left: 40px;
    padding-left: 90%;
    text-align:left;
}

