@charset "UTF-8"

@import url(<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">);

body{
    flex-direction: column;
    background-image: linear-gradient(to right, whitesmoke,#e4e6ee,#6db8eb);
    text-align:left;
}

#imglogo2 {
    /* logo modavo */
    position:relative;
}

#imglogo {
    /*logo da telecall. */
    position:fixed;
    bottom: 15px;
    left: 40px;
    padding-left: 90%;
    text-align:left;
}

