@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

* {
    /* define o tipo de fonte. */
    font-family: "ubuntu", sans-serif;
}

body{
    flex-direction: column;
    background-image: linear-gradient(to right,#6db8eb, whitesmoke, #e4e6ee);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    display: flex;
}
p{
    font-family: arial;
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 0.7px;
    line-height: 01;
}

h1{
  text-align: center;
  line-height: 0.5;
  padding-bottom: 25px;

}

section{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

ul{
    margin-right: 100px;
    margin-left: auto;
}

ul li{
    font-family: arial;
    text-align: left;
    letter-spacing: 0.7px;
}