@charset "UTF-8"

@import url(<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">);

* {
    /* define o tipo de fonte. */
    font-family: "ubuntu", sans-serif;
}

body{
    background-image: linear-gradient(to right,#4269e7, #d0d2dd,#d65541);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

section {
    /* cor do elemento. */
    background: #35aaaa;

    /* espaco ao redor do conteudo
    30px sup e inf
    5px esq e dir. */
    padding: 30px 5px;

    /* arredondar cantos. */
    border-radius: 10px;

    /* add sobra. */
    box-shadow: 5px 5px 15px;

    /* tam max elemento. */
    max-width: 70vh;
}

section legend {
    /* alinha txt no centro. */
    text-align: center;
}

p{
    text-align: center
}

#logo {
    text-align: center;
    background-color: #25487a;
    color: rgb(227, 234, 240);
    border-radius: 10px;
}

#enter{
    text-align: center;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    background-color: rgb(245, 246, 248);
    border: 2px solid #000;
    margin: none;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    padding: 5px 5px;
    box-shadow: 5px 5px 15px;
}

form{
    padding: 20px;
    margin: 10px 25px 50px 25px;
    display: block;
}

.button{
    border-radius: 3px;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
    font-size: 15px;
    padding: 8px 10px;
    margin: 4px 2px;
}

.button1{
    background-color: white;
    color: black;
    border: 2px solid #041e42;
}

.button2{
    background-color: white;
    color:black;
    border: 2px solid #ff2400;
}

    /*
    .button3{
    background-color: white;
    color: black;
    border: 2px solid #041e42;
    }
    */


.button1:hover{
    background-color: #041e42;
    color: white;
}

.button2:hover{
    background-color: #ff2400;
    color: white;
}

    /*
    .button3:hover{
    background-color: #041e42;
    color: white;
    }
    */
