


body{
    flex-direction: column;
    background-image: linear-gradient(to right,#6db8eb, whitesmoke, #e4e6ee);
    text-align:left;
}

#imglogo {
    /*logo da telecall. */
    position:fixed;
    bottom: 15px;
    left: 40px;
    padding-left: 90%;
    text-align:left;
}

p{
    text-align: justify;
}