@charset "UTF-8"

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body{
    font-family: "ubuntu", sans-serif;
    flex-direction: column;
    background-image: linear-gradient(to right, whitesmoke,#e4e6ee,#6db8eb);
    text-align:left;
}

.parte6 {
    display: flex;
    align-items: stretch;
    justify-content:space-between;
}

#imglogo {
    /*logo da telecall. */
    position:fixed;
    bottom: 15px;
    left: 40px;
    padding-left: 90%;
    text-align:left;
}